{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Illumiya - Home{% endblock title %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static 'css/parsley.css' %}">
{% endblock extra-css %}

{% block content %}
        <!-- ========== Start Slider ========== -->
        <section class="slider d-flex align-items-center" id="slider">
            <div class="container">
                <div class="row d-flex align-items-center mt-60">
                    <div class="col-lg-6">
                        <div class="text">
                            <h1 class="h1-w mb-20">RISE TO THE TOP <br> MEET ANY CHALLENGE</h1>
                            <p class="p-re mb-30">Revolutionise your learning<br>
                                with interactive life skills education
                            </p>
                           <span class="mb-30"> <p class="t-w">Get started with our free info pack</p></span>
                            <div class="mt-15">
                                <a href="#" class="btn-white d-inline-block">Discover More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- <div class="image d-flex justify-content-lg-end">
                            <img src="https://via.placeholder.com/480x480" alt="slider-phone" class="img-fluid upDown">
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- ========== End Slider ========== -->

        <!-- ========== Clients Logo's ========== -->
        <section class="clients_logos mb-120 mt-100" id="clients_logos">
            <div class="client-logos">
                <div class="container text-center">
                    <img src="{% static 'img/client-logos.PNG' %}" alt="client logos" class="img-fluid">
                </div>
            </div>
        </section>
         <!-- ==========End Clients Logo's ========== -->

        <!-- ========== High quality education ========== -->
        <section class="benefits mb-120" id="benefits">
            <div class="container text-center">
                <!-- <h4 class="h4">High Quality Education</h4 -->
                <h2 class="h2 mb-15">Open The Doorway To Success</h2>
                <p class="p-bk mb-60">Whether you seek examination success, profitable career advancement or exciting new life<br>
                    opportunities, education holds the key to unlocking your future potential. With the right skills<br>
                    and training, a high quality education can chart a course for a future that’s right for you.
                </p>
            </div>
        </section>
        <!-- ========== End High quality education ========== -->

        <!-- ========== Start About ========== -->
        <section class="about m-section-120" id="about">
            <div class="">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="image">
                            <img src="{% static 'img/flyman.png' %}" alt="about" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 pr-100">
                        <h2 class="h2 mb-20">
                            Illumiya Believes
                        </h2>
                        <p class="p-bk mb-30">At Illumiya, we believe in the power of training to unlock 
                            each individual’s talents. That’s why our education programs and apps
                            deliver everything you need to secure your place in the world. Our carefully
                            researched and inspiring programs deliver key knowledge and skills, sharpen
                            focus, and help set you up to take on your next challenge or adventure. Better
                            still, our programs are fun. Everyone learns best when learning is creative
                            and positive, and you can expect plenty of both from all our education
                            initiatives. Here’s a boost for mind and body, a new way to help you shine.

                        </p>

                        <h2 class="h2 mb-20">
                                Illumiya Knows
                        </h2>
                        <p class="p-bk mb-30">Our comprehensive life skills training packages are backed
                            by a combined 150 years of expertise from top educators, neuroscientists, psychologists,
                            pedagogical experts and artificial intelligence specialists. All our programs are designed
                            to bring out the best you have to offer.
                        </p>
                        <h2 class="h2 mb-20">
                                Illumiya Delivers
                        </h2>
                        <p class="p-bk mb-30">We’ve helped 50,000+ learners discover success ... and now
                            it’s your chance to reap the benefits. The valuable practical knowledge you
                             gain from our carefully crafted training programs will transform the way you work,
                              develop your IQ and EQ, and help you stand out from the crowd.
                        </p>
                       
                    </div>
                </div>
            </div>
        </section>
        <!-- ========== End About ========== -->

         <!-- ========== Start Participating ========== -->
        <section class="Participating mb-120" id="Participating">
                <div class="container text-center">
                        <h3 class="h3-bk mb-120 mt-15">
                                “Our mission is to create a better future for our students with life skills learning solutions”
                        </h3>
                            <div class="row mb-120">
                                <!-- Box-1 -->
                                <div class="offset-lg-3 col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6  col-sm-6 pr-0 left-bx">
                                                <h4 class="mb-10">100<span>+</span></h4>
                                                <h3 class="h3-bk mb-15">Participating <br>Schools </h3>
                                        </div>
                                        <!-- Box-2 -->
                                        <div class="col-lg-6 col-md-6 col-sm-6 pl-0 right-bx">
                                                    <h4 class="mb-10">50,000<span>+</span></h4>
                                                    <h3 class="h3-bk mb-15">Satisfied <br>Students</h3>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                </div>

            </section>
        <!-- ========== End Participating ========== -->

        
    <!-- ========== Start discover illumiya ========== -->
    <section class="disc_illumiya mb-120" id="disc_illumiya">
            <div class="container text-center">
                    <h2 class="h2">DISCOVER ILLUMIYA</h2>
                    <h3 class="h3-bk mb-60">Interactive Learning Materials, News & Fun</h3>

                    <h3 class="h3-bk mt-15"> Getting Started with Illumiya is easy.</h3>
                    <p class="p-bk mb-60">Discover more about our apps, keep up with the latest news and announcements, and <br>
                         check out our bonus features here.</p>

                        <div class="row bx-shw">
                            <!-- Box-1 -->
                            <div class="col pl-0 pr-0">
                                <div class="box">
                                    <img src="{% static 'img/01.png' %}" alt="icon-1">
                                    <h3 class="h3-bk mt-30 mb-30">INTERACTIVE</h3>
                                    <ul>
                                        <li>Take a quiz, </li>
                                        <li>check our fun</li>
                                        <li>apps!</li>
                                    </ul>
                                    <a href="#" class="disc_btn d-inline-block">Sign Up Here</a>
                                </div>
                            </div>
                            <!-- Box-2 -->
                            <div class="col p-0">
                                    <div class="box">
                                        <img src="{% static 'img/02.png' %}" alt="icon-1">
                                        <h3 class="h3-bk mt-30 mb-30">VIDEO</h3>
                                        <ul>     
                                            <li>Smart vids</li>
                                            <li>to watch and</li>
                                            <li>enjoy.</li>
                                        </ul>
                                        <a href="#" class="disc_btn d-inline-block">Sign Up Here</a>
                                    </div>
                                </div>
                                <!-- Box-3 -->
                            <div class="col p-0">
                                    <div class="box">
                                        <img src="{% static 'img/03.png' %}" alt="icon-1">
                                        <h3 class="h3-bk mt-30 mb-30">READ</h3>
                                        <ul>
                                            <li>Your</li>
                                            <li>downloadable</li>
                                            <li>ebooks are here.</li>
                                        </ul>
                                        <a href="#" class="disc_btn d-inline-block">Sign Up Here</a>
                                    </div>
                            </div>
                                <!-- Box-4 -->
                            <div class="col p-0">
                                    <div class="box">
                                        <img src="{% static 'img/04.png' %}" alt="icon-1">
                                        <h3 class="h3-bk mt-30 mb-30">NEWS</h3>
                                        <ul>
                                            <li>All the stories,</li>
                                            <li>all the info,</li>
                                            <li>all the prizes.</li>
                                        </ul>
                                        <a href="#" class="disc_btn d-inline-block">Sign Up Here</a>
                                    </div>
                            </div>
                              <!-- Box-5 -->
                            <div class="col pr-0 pl-0">
                                    <div class="box">
                                        <img src="{% static 'img/05.png' %}" alt="icon-1">
                                        <h3 class="h3-bk mt-30 mb-30">BLOG</h3>
                                        <ul>      
                                            <li>In-depth</li>
                                            <li>stories for the</li>
                                            <li>bigger picture.</li>
                                        </ul>
                                        <a href="#" class="disc_btn d-inline-block">Sign Up Here</a>
                                    </div>
                            </div>
                        </div>
            </div>

        </section>
        <!-- ========== End Discover illumiya ========== -->

        <!-- ========== Start illumiya for  ========== -->
        <section class="benefits mb-120" id="benefits">
            <div class="container text-center">
                <h2 class="h2 mb-15">Illumiya For</h2>
                <div class="btn-group">
                        <button type="button" class="active_btn student_btn">Students</button>
                        <button type="button" class="inactive_btn schools_btn">Schools</button>
                </div>
                <div class="student_text">
                        <h2 class="h2 mb-15">Learn Different, Learn Better</h2>
                        <p class="p-bk mb-20">It’s time to take your next steps forward with an effective training program tailored to your individual needs. All Illumiya resources are <br>
                            delivered stage by stage in ways that make it easy for you to learn and progress.
                        </p>
                        <p class="p-bk mb-20">As you develop your knowledge and skills, you’ll have access to your own Personal Skills Trainer who will guide you through each step of the way. <br>
                            Stuck on a problem? Here’s expert help and guidance. Have an idea or suggestion? Here’s someone who’ll listen.
                        </p>
                        <p class="p-bk mb-20">Illumiya’s powerful Quizflix and Linguify apps underpin every life skills program. Fun and easy to use, these powerful learning tools aid your <br>
                            development, improve mental agility and focus, and help you tap valuable knowledge and skills quickly and effectively. <br>
                            Use Illumiya coins to unlock services and personalise options.
                        </p>
                </div>
                <div class="school_text">
                        <h2 class="h2 mb-15">Think Innovative, Think Different</h2>
                        <p class="p-bk mb-20">Strengthen your curriculum and enhance your offer to prospective students with Illumiya’s Core Schools packages. However you deliver your <br>
                            classes, Illumiya’s education programs are designed to fit easily into your timetable and deliver fresh and diverse learning opportunities to <br>
                            everyone you teach.
                        </p>
                        <p class="p-bk mb-20">Our intuitive apps are ready to make learning truly inspirational and fun, and our expert trainers are on hand to provide an exciting new <br>
                            dimension to your education program. Illumiya's valuable psychologist input will help develop your students’ full potential and help them grow as individuals as <br>
                            they learn.
                        </p>
                        <p class="p-bk mb-20">Together, we can turn your students’ weaknesses into strengths as we transform them into rounded and capable people ready to embrace life <br>
                            to the full.
                        </p>
                        <p class="p-bk mb-20">Make Illumiya your own with school-specific branding on our apps and curriculum content. For language schools, our Linguify app can be <br>
                            tailored to suit your specific needs. It’s time for the young adults in your care to discover new ways to flourish as your school grows its <br>
                            reputation for success.
                        </p>
                </div>
            </div>
        </section>
        <!-- ========== End illumiya for========== -->

        
        <!-- ========== Start Account type ========== -->
        <section class="price mb-120" id="price">
            <div class="container text-center">
                <div class="row student_account">
                    <!-- Box-1 -->
                    <div class="col-lg-4 box-padding">
                        <div class="ribbon">
                                <span class="silver ribbon2">А<br>К</span>
                        </div>
                        <div class="box bx-shw">
                            <h3 class=" mb-10">Student</h3>
                            <h5 class="mb-30 silver">Silver Packages</h5>
                            <!-- <img src="img/price/1.svg" alt="" class="img-fluid w-80"> -->
                            <h5>Essential</h5>
                            <h4>1 Month </h4>
                            <p class="p-bk mb-30 mt-25"> Learning program delivers core<br>
                                skills & training and gets you <br>
                                started on the path to success.
                            </p>
                            <p class="p-bk mb-30 mt-25">5 hours personal <br>
                                consultation with an expert <br> 
                                Skills Trainer
                            </p>
                            <ul>
                                <li>Free Quizflix App</li>
                                <li>500 Illumiya Coins</li>
                                <li class="t-w">---</li>
                                <li class="t-w">---</li>
                            </ul>
                            <p class="p-bk mb-30 mt-25">
                                    Free ebook <br> <br>
                            </p>
                            <a href="#" class="btn-green d-inline-block">Sign Up Here</a>
                        </div>
                    </div>
                    <!-- Box-2 -->
                    <div class="col-lg-4 box-padding">
                            <div class="ribbon">
                                    <span class="ribbon3 gold">А<br>К</span>
                            </div>
                            <div class="box bx-shw">
                                <h3 class=" mb-10">Student</h3>
                                <h5 class="mb-30  gold">Gold Packages</h5>
                                <!-- <img src="img/price/2.svg" alt="" class="img-fluid w-80"> -->
                                <h5>Rigorous</h5>
                                <h4>3 Month</h4>
                                <p class="p-bk mb-30 mt-25">Learning program builds <br>
                                    expertise & knowledge and <br>
                                    helps you plan your next move
                                </p>
                                <p class="p-bk mb-30 mt-25">20 hours personal <br>
                                    consultation with an expert <br>
                                    Skills Trainer
                                </p>
                                <ul>
                                    <li>Free Quizflix App</li>
                                    <li>1000 Illumiya Coins</li>
                                    <li>Free Quizflix App School subscription</li>
                                    <li>for 3 months</li>
                                </ul>
                                <p class="p-bk mb-30 mt-25">
                                        Free ebook <br> <br>
                                       
                                </p>
                                <a href="#" class="btn-green d-inline-block">Sign Up Here</a>
                            </div>
                        </div>
                        <!-- Box-3 -->
                    <div class="col-lg-4 box-padding">
                            <div class="ribbon">
                                    <span class="ribbon4 platinum">А<br>К</span>
                            </div>
                            <div class="box bx-shw">
                                <h3 class=" mb-10 ">Student</h3>
                                <h5 class="mb-30  platinum">Platinum Packages</h5>
                                <!-- <img src="img/price/3.svg" alt="" class="img-fluid w-80"> -->
                                <h5>Comprehensive</h5>
                                <h4>6 Months</h4>
                                <p class="p-bk mb-30 mt-25">Learning program delivers <br>
                                    everything you need <br>
                                    to transform your opportunities
                                </p>
                                <p class="p-bk mb-30 mt-25">60 hours personal <br>
                                    consultation with an expert <br>
                                    Skills Trainer
                                </p>
                                <ul>
                                    <li>Free Quizflix App</li>
                                    <li>2000 Illumiya Coins</li>
                                    <li>Free 6 month subscription </li>
                                    <li>to Quizflix School </li>
                                </ul>
                                <p class="p-bk mb-30 mt-25">
                                        Free ebook <br>
                                        Free branded T-shirt and pen
                                </p>
                                <a href="#" class="btn-green d-inline-block">Sign Up Here</a>
                            </div>
                        </div>
                </div>
                <div class="row school_account">
                        <!-- Box-1 -->
                        <div class="col-lg-4 box-padding">
                            <div class="ribbon">
                                    <span class="silver ribbon2">А<br>К</span>
                            </div>
                            <div class="box bx-shw">
                                <h3 class=" mb-10">Schools</h3>
                                <h5 class="mb-30 silver">Silver Packages</h5>
                                <!-- <img src="img/price/1.svg" alt="" class="img-fluid w-80"> -->
                                <h4>1 Month </h4>
                                <p class="p-bk mb-30 mt-25"> 
                                    Free Quizflix App <br>
                                    50 free Illumiya Coins <br>
                                    per student
                                </p>
                                <p class="p-bk mb-30 mt-25">
                                        Core Skills Trainer  <br>
                                        min. 1-2 years experience
                                </p>
                                <p class="p-bk mb-30 mt-25">
                                        Educational Psychologist <br>
                                        xx hours 
                                </p>
                                <p class="p-bk mb-30 t-w mt-25">
                                        Core Skills Trainer  <br>
                                        min. 1-2 years experience
                                </p>
                                <a href="#" class="btn-green d-inline-block">Sign Up Here</a>
                            </div>
                        </div>
                        <!-- Box-2 -->
                        <div class="col-lg-4 box-padding">
                                <div class="ribbon">
                                        <span class="ribbon3 gold">А<br>К</span>
                                </div>
                                <div class="box bx-shw">
                                    <h3 class=" mb-10">Schools</h3>
                                    <h5 class="mb-30  gold">Gold Packages</h5>
                                    <!-- <img src="img/price/2.svg" alt="" class="img-fluid w-80"> -->
                                    <h4>3 Month</h4>
                                    <p class="p-bk mb-30 mt-25"> 
                                            Free Quizflix App <br>
                                            100 free Illumiya Coins <br>
                                            per student
                                    </p>
                                    <p class="p-bk mb-30 mt-25">
                                            Free Quizflix App School subscription<br>
                                            for 3 months
                                    </p>
                                    
                                    <p class="p-bk mb-30 mt-25">
                                            Super Trainer <br>
                                            min. 5 years experience
                                    </p>
                                    <p class="p-bk mb-30 mt-25">
                                            Educational Psychologist <br>
                                            xx hours 
                                    </p>
                                    <a href="#" class="btn-green d-inline-block">Sign Up Here</a>
                                </div>
                            </div>
                            <!-- Box-3 -->
                        <div class="col-lg-4 box-padding">
                                <div class="ribbon">
                                        <span class="ribbon4 platinum">А<br>К</span>
                                </div>
                                <div class="box bx-shw">
                                    <h3 class=" mb-10 ">Schools</h3>
                                    <h5 class="mb-30  platinum">Platinum Packages</h5>
                                    <!-- <img src="img/price/3.svg" alt="" class="img-fluid w-80"> -->
                                    <h4>6 Months</h4>
                                    <p class="p-bk mb-30 mt-25"> 
                                            Free Quizflix App <br>
                                            200 free Illumiya Coins <br>
                                            per student
                                    </p>
                                    <p class="p-bk mb-30 mt-25">
                                            Free Quizflix App School subscription <br>
                                            for 6 months
                                    </p>
                                  
                                    <p class="p-bk mb-30 mt-25">
                                            Legendary Trainer <br>
                                            min. 10 years experience
                                    </p>
                                    <p class="p-bk mb-30 mt-25">
                                            Educational Psychologist <br>
                                            xx hours 
                                    </p>
                                    <a href="#" class="btn-green d-inline-block">Sign Up Here</a>
                                </div>
                            </div>
                </div>
                <p class="p-bk mb-30 mt-25"> All packages feature a free educational sci fi ebook and come with permission to use our UK brand logo.</p>
            </div>

        </section>
        <!-- ========== End Account type========== -->


        <!-- ========== Start Features ========== -->
        <section class="features mb-120" id="features">
            <div class="container text-center">
                <h2 class="h2 mb-15 mt-30">"Investment in knowledge pays the best interest"</h2>
				<p class="p-bk pb-60 text-center"> Benjamin Franklin
                </p>
                <p class="p-bk mb-30">
                    Illumiya is committed to making the world a better place for everyone. We can’t change <br>
                    everything, but we can make a significant difference to local community projects. That’s why <br>
                    we give 5% of the profits from our educational programs to these vital enterprises.
                </p>
            </div>
        </section>
        <!-- ========== End Features ========== -->


    <!-- ========== Start boost your learning  ========== -->
    <section class="boost_section mb-120" id="boost_section">
            <div class="container text-center">
                <div class="text-center">
                    <img src="{% static 'img/illumiya_black.png' %}" alt="" class="mb-30 img-fluid w-80">
                </div>
                <h2 class="h2 mb-15">ILLUMIYA'S INNOVATIVE & FUN  APPS <br> BOOST YOUR LEARNING & PRODUCTIVITY</h2>
                <p class="p-bk mb-60">Illumiya’s inspired training programs are backed by our exciting apps. Researched and developed by experts, these interactive <br>
                    educational aids transform the way you learn and make it easy to acquire the practical knowledge you seek.
                </p>
                <div class="row">
                        <!-- Box-1 -->
                        <div class="col-lg-6">
                            <div class="box bx-shw">
                                <img src="{% static 'img/1.png' %}" alt="" class="mb-30 img-fluid w-80">
                                <h3 class="h3-new mb-30 violet">Fun Facts at your Fingertips</h3>
                                <p class="p-bk mb-30">Boost intelligence, confidence and self-esteem with one awesome
                                     Life Skills app. Whether you’re struggling to reach your potential or need new 
                                     challenges to stretch your abilities, Quizflix is the fun and interactive 
                                     way to acquire useful knowledge. <br> Pick your topics, test your mettle, and watch 
                                     your <br> progress soar.
                                </p>
                            </div>
                        </div>
                        <!-- Box-2 -->
                        <div class="col-lg-6">
                                <div class="box bx-shw">
                                    <img src="{% static 'img/2.png' %}" alt="" class="mb-30 img-fluid w-80">
                                    <h3 class="h3-new mb-30 red">Languages that want to say Hi!</h3>
                                    <p class="p-bk mb-30">Linguify makes it easy to learn a new language or polish your
                                         existing skills. Unlike a typical language lesson, this innovative natural language
                                        learning app leads you along the path to understanding at a pace that’s right
                                        for you. Here’s a truly immersive learning experience that helps you pick up words
                                        and phrases intuitively.
                                    </p>
                                </div>
                        </div>
                 </div>
                 <p class="p-bk mb-30 mt-25"> Further exciting apps are in the pipeline!
                         </p>
            </div>
    </section>
    <!-- ========== End boost your learning========== -->
    <div class="philosophy_img"></div>
    <!-- ========== Start philosophy ========== -->
    <section class="philosophy" id="philosophy">
            <div class="container">
                <div class="row d-flex align-items-center philo-padding">
                    <div class="col-lg-6  pt-180">
                        <h2 class="h2 mb-20">
                            OUR PHILOSOPHY, OUR PEOPLE
                        </h2>
                        <p class="p-bk mb-30">At Illumiya we are passionate about using smart eLearning resources 
                            to inspire creativity and divergent thinking in everyone. That’s why Illumiya
                            prizes our exclusive Quizflix and Linguify apps and the central role they play
                            in our programs. Taken together with the best life skills development for mind
                            and body and input from our expert psychologists, Illumiya raises the bar
                            on helping young people to grow and shine.
                        </p>
                    </div>
                    <div class="col-lg-6 phil-col-padd">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <!-- Indicators-->
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                </ol>
    
                                <div class="carousel-inner">
                                    <!-- Item-1 -->
                                    <div class="carousel-item active">
                                        <h2 class="h2">
                                               Namit Kapur
                                        </h2>
                                        <h3>Visionary Founder and Director</h3>
                                        <p>Namit’s deep understanding of human potential and intelligence 
                                            has led him all over the globe, and now his educational experience
                                            informs and drives the Illumiya initiative. He’s delivered over
                                            4000 hours of professional maths and English tutoring at top
                                            institutions in the UK, China, India and Dubai, and his published 
                                            papers draw on almost 20 years of dedicated industry experience in
                                            the field of using technology to advance human potential. His passion to elevate
											the educational opportunities and career prospects for young adults inspires 
											every aspect of Illumiya’s mission.
                                        </p>
                                    </div>
                                    <!-- Item-2 -->
                                    <div class="carousel-item">
                                        <h2 class="h2">
                                                Arun Kumar
                                         </h2>
                                         <h3>Senior Coach & Motivator</h3>
                                         <p>As an NLP certified Master Trainer, Arun’s expert input informs all aspects 
                                                of the Illumya experience. His 13+ years of educational training
                                                expertise in soft skills and personal development ensure our programs 
                                                put people first and always deliver on detail and effectiveness.                                               
                                            </p>
                                    </div>
                                    <!-- Item-3 -->
                                    <div class="carousel-item">
                                        <h2 class="h2">
                                                Suneet Shivaprasad
                                        </h2>
                                        <h3>Project Developer</h3>
                                        <p>Every business needs a trailblazer to keep things moving and seek out new 
                                                ways to expand. Suneet’s social entrepreneur expertise has helped grow  
                                                and scale countless successful startups, and his initiatives have reached  
                                                out to 112 countries. Backed by his Oxford education, he’s a big player in 
                                                Illumiya’s success story. 
                                            </p>
                                    </div>
									<!-- Item-4 -->
                                    <div class="carousel-item">
                                        <h2 class="h2">
                                                Lori Figueiredo
                                         </h2>
                                         <h3>Special Advisor</h3>
                                         <p>Illumiya benefits greatly from Lori’s informed and illuminating input as a   
                                                global learning strategist. Her custom designed solutions have enhanced  
                                                the prospects of individuals and organisations worldwide, and her passion 
                                                for smart technology helps to drive us forward.                                              
                                            </p>
                                    </div>
    
                                </div>
                        </div>
                    </div>
                </div>
                <h3 class="h3-bk philo-padding text-center">
                        “Education is not just about going to school and getting a degree. <br>
                        It's about widening your knowledge and absorbing the truth about life.”
                     </h3>
                <p class="p-bk pb-60 text-center"> Shakuntala Devi
                </p>
                
            </div>
        </section>
        <!-- ========== End philosophy ========== -->

           <!-- ========== Start Testimonials ========== -->
           <section class="testimonials" id="testimonials">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-12">
                          
                            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                                    <h2 class="h2 mb-15">TESTIMONIALS</h2>
                                <!-- Indicators-->
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
                                </ol>
                               
                                <div class="carousel-inner">
                                    <!-- Item-1 -->
                                    <div class="carousel-item active text-center">
                                        <p>We’re proud of all the individuals and schools we’ve helped to thrive. Their generous comments <br>
                                             mean a great deal to us, and we’re pleased to share a selection with you.
                                        </p>
                                    </div>
                                    <!-- Item-2 -->
                                    <div class="carousel-item text-center">
                                            <p>We’re proud of all the individuals and schools we’ve helped to thrive. Their generous comments <br>
                                                mean a great deal to us, and we’re pleased to share a selection with you.
                                           </p>
                                    </div>
                                    <!-- Item-3 -->
                                    <div class="carousel-item text-center">
                                            <p>We’re proud of all the individuals and schools we’ve helped to thrive. Their generous comments <br>
                                                mean a great deal to us, and we’re pleased to share a selection with you.
                                           </p>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ========== End Testimonials ========== -->
    
            <!-- ========== Start Contact ========== -->
            <section class="contact" id="contact">
                    <div class="container text-center">
                            <h2 class="h2 mb-15">Getting in touch with Illumiya is easy!</h2>
                            <p class="p-bk mb-60">We’re here for all your queries and comments. <br>
                                    For more details about our packages, apps or training ... just drop us a line!</p>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8 text-center">
                                <form action="{% url 'contact-us' %}" method="POST" id="contact-us-form" data-parsley-validate="">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" placeholder="Name" name="name" required>
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="email" class="form-control" placeholder="Email" name="email" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-md-12 form-group">
                                                <textarea class="form-control" rows="5" id="comment" placeholder="Message" name="message" required></textarea>
                                            </div>
                                    </div>
                                    <button class="btn btn-block" onclick="contact_submit();return false;" type="button">Send Message</button>
                                </form>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row contact-us-success-msg hide" style="margin-top: 20px;">
                            <div class="col-md-12 text-center">
                                <p class="text-success">Thanks for contacting us. We will reach you soon.</p>
                            </div>
                        </div>
                    </div>
                </section>
            <!-- ========== End Contact ========== -->

        {% endblock content %}

{% block extra-js %}
    <script src="{% static 'js/parsley-2.9.1.min.js' %}"></script>

    <script type="text/javascript">
        function contact_submit() {
            console.log("create");
            var contact_form = $('#contact-us-form');
            if(contact_form.parsley().validate()) {
                $.post(
                    "{% url 'contact-us' %}",
                    contact_form.serializeArray(),
                    function(output) {
                        $('.contact-us-success-msg').removeClass('hide').addClass('show');
                    },
                    'json'
                );
            }
        }
    </script>
{% endblock extra-js %}