<div class="comment-footer mb-2 comment-action">
    <span class="action-icons">
            <a href="javascript:void(0)" class="rep" id="reply-{{ comment_id }}">
                    <i class="fa fa-reply" aria-hidden="true"></i>Reply
            </a>
            <!--<a href="javascript:void(0)">
                    <i class="fa  fa-share-alt" aria-hidden="true"></i>Share
            </a>
            <a href="javascript:void(0)">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0)">
                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
            </a>-->
    </span>
</div>