{% comment %}
  This is only for new post main comment!
{% endcomment %}

{% load comments i18n %}
<form action="{% url 'comments-xtd-api-create' %}" method="post" id="id-new-post-form" class="new-post-form">{% csrf_token %}
  {{ form.errors }}
  {% if next %}
    <div><input type="hidden" name="next" value="{{ next }}"/></div>{% endif %}
  {% for field in form %}
    {% if field.is_hidden %}
      <div>{{ field }}</div>
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      <div class="show">
        <p
                {% if field.errors %} class="error"{% endif %}
                {% if field.name == "name" or field.name == "email" or field.name == "url" or field.name == "followup" or field.name == "honeypot" %} style="display:none;"{% endif %}>
        {% if field.name != "comment" %}
          {{ field.label_tag }} {{ field }}
        {% endif %}
        </p>
      </div>
    {% endif %}
  {% endfor %}
    <textarea name="comment" id="id_comment" class="autoExpand forumPost form-control required" required="required" rows="4" data-min-rows="4" placeholder="Enter your message here"></textarea>
    {% if user.is_authenticated %}
      <button class="blogPostButton btn btn-default" type="submit">Post</button>
      <span class="text-success post-success-msg" style="display: none;">&nbsp;&nbsp;<i class="fa fa-check" aria-hidden="true"></i>&nbsp;It is successfully posted!</span>
    {% else %}
      <a href="{% url 'login' %}?next={% url 'blog-detail' pk=blog.id %}#comment-form" class="blogPostButton btn btn-default">Post</a>
    {% endif %}
</form>